{% extends 'nav_a.html' %}
{% block content %}
{% csrf_token %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/add_book.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
  .home-content {
  background-image: url("{% static 'image/bg1.jpg' %}"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    overflow: hidden;
  }

  .add-book-container {
    max-width: 600px;
    margin: 7% auto;
    background-color: #ffffffc0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: var(--green);
    text-align: center;
  }



  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--black);
  }

  input,
  select {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: var(--green);
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--dark-color);
  }

  @media (max-width: 768px) {
    .add-book-container {
        max-width: 90%;
        margin: 20px auto;
        overflow-x: auto;
    }}
</style>

<div class="add-book-container">
<div class="container">
  <h1>Add Book</h1>

  <form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">

    {% csrf_token %}

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required>

    <label for="publisher">Publisher:</label>
    <input type="text" id="publisher" name="publisher" required>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required>

    <label for="stock">Stock:</label>
    <input type="text" id="stock" name="stock" required>

    <label for="category">Category:</label>
    <select id="category" name="category">
        <option value="" selected disabled>Select a category</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*">

    <button type="submit">Add book</button>
  </form>
</div>

  <script>
    {% for message in messages %}
        Swal.fire({
            icon: '{% if message.tags == "error" %}error{% elif message.tags == "success" %}success{% elif message.tags == "info" %}info{% elif message.tags == "warning" %}warning{% else %}question{% endif %}',
            title: '{{ message|escapejs }}',
            showConfirmButton: true,
            confirmButtonText: '{% if message.tags == "error" %}Retry{% elif message.tags == "success" %}Done{% elif message.tags == "info" %}Ok{% elif message.tags == "warning" %}Ok{% elif message.tags == "question" %}Ok{% endif %}',
        });
    {% endfor %}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</div>

{% endblock %}
