{% extends 'nav_u.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Requests</title>

    <style>
        .box{
            overflow-x: auto;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Rental Requests</h2>
<div class="box">
    {% if user_rental_requests %}
        <table>
            <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Rental Date</th>
                <th>Return Date</th>
                <th>Status</th>
            </tr>
            {% for request in user_rental_requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.book.name }}</td>
                    <td>{{ request.rental_date }}</td>
                    <td>{{ request.return_date }}</td>
                    <td>{% if request.is_rental_approved %}Approved{% else %}Pending{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No rental requests sent.</p>
    {% endif %}
</div>

</body>
</html>
{% endblock %}
